.task-side-information {
  display: flex;
  align-items: center;
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
}

.form{
  display: flex;
}

.form input{
  margin: 0 10px;
  padding: 8px 30px;
  font-size: 12px;
}